%% ~*~ Erlang ~*~
{cover_enabled, false}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [
	    warnings_as_errors,
	    {i, "./deps/riak_kv/src"},
	    {i, "./deps/riak_kv/include"}
           ]}.

{eunit_opts, [
     no_tty,  %% This turns off the default output, MUST HAVE
     {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
     %% Uses the progress formatter with ANSI-colored output
     ]}.

{deps, [
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "gg/integration/timeseries"}}}
       ]}.
